body{
    background-color: rgb(245, 171, 181);
}
.main{
    display: block;
    align-items: center;
}
.main h1{
    text-align: center;
    font-size: 30px;
    margin-top: 40px;
    font-family:'Times New Roman', Times, serif;
    letter-spacing: 6px;
    color: rgb(75, 11, 41);

}

.main h1 span{
    color:rgb(102, 36, 165);
}
textarea{
    width:400px;
    height: 300px;
    color: black;
    font-size: 15px;
    border:0;
    background-color: rgb(247, 142, 142);
    padding: 20px;
    border-radius: 10px;
    outline: 0;
    resize:none;
    margin-left: 470px;
    margin-top: 50px;
    margin-bottom: 30px;
}

textarea::placeholder{
    font-size: 16px;
    color: #ddd;
}
.row{
    width:600px;
    display: flex;
    align-items: center;
    padding: 5px;

}


button{
    background: #ff2963;
    color:#fff;
    font-size: 16px;
    padding: 10px 20px;
    border: 0;
    border-radius: 35px;
    outline: 0;
    cursor: pointer;
}
select{
    flex: 1;
    color: #fff;
    background: #403d84;
    height:50px;
    width: 400px;
    padding: 0px 10px;
    outline:0;
    border: 0;
    border-radius: 35px;
    margin-left: 470px;

    
}